{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/admin_styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark sticky-top" style="background-color: #f1ddcf;">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 d-flex align-items-center" href="#">
            <img src="{% static 'img/home/log10.png' %}" width="180" height="50" class="d-inline-block align-middle" alt="">
        </a>
        <ul class="navbar-nav px-2">
            <li class="nav-item text-nowrap">
                <span class="navbar-text" style="color: black; font-size: 16px;">
                    Welcome, {{ user.username }}!
                </span>
            </li>
        </ul>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-salmon sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active mt-3" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="{% url 'view_customers' %}">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="{% url 'view_category' %}">
                                <span data-feather="layers"></span>
                                Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="{% url 'view_subcategories' %}">
                                <span data-feather="shopping-cart"></span>
                                SubCategories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="{% url 'view_product' %}">
                                <span data-feather="shopping-cart"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="#">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="#">
                                <span data-feather="settings"></span>
                                Customizations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="#">
                                <span data-feather="credit-card"></span>
                                Payments
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link mt-3" href="#">
                                <span data-feather="mail"></span>
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <!-- Page Header -->
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                <!-- Example Cards -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Customers</h5>
                                <p class="card-text">Total Users: {{ total_users }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Categories</h5>
                                <p class="card-text">Total Categories: {{ total_categories }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Subcategories</h5>
                                <p class="card-text">Total Subcategories: {{ total_subcategories }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Products</h5>
                                <p class="card-text">Total Products: {{ total_product }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Orders</h5>
                                <p class="card-text">Total Orders: {{ total_orders }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Customizations</h5>
                                <p class="card-text">Total Customizations: {{ total_customizations }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Contact us</h5>
                                <p class="card-text">Total Customizations: {{ total_customizations }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Custom Products</h5>
                                <p class="card-text">Total Customizations: {{ total_customizations }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Payments</h5>
                                <p class="card-text">Total Payments: {{ total_payments }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/admin_dashboard.js' %}"></script>
</body>
</html>
